<div [ngClass]="{ 'pe-none': isDisabled }">
  <label class="label in-column" [ngClass]="{ disabled: isDisabled }">
    {{ labelText }}
    <div
      class="input-container in-row mt-2"
      [ngClass]="{
        'disabled-bg': isDisabled,
        'error-bg': (control?.touched || control?.dirty) && control?.invalid
      }"
    >
      <img
        *ngIf="inputType"
        [src]="imageSource"
        class="me-2"
        [ngClass]="{
          'opacity-50': isDisabled,
          'email-icon': inputType === 'email',
          'phone-icon': inputType === 'phone'
        }"
      />
      <input
        #inputReference
        type="text"
        class="input"
        [placeholder]="placeholderText"
        [ngClass]="{ disabled: isDisabled }"
        (input)="onValueChange()"
        (focusout)="onFocusOut()"
      />
    </div>
  </label>
  <span
    class="mt-2 input-hint"
    [ngClass]="{ disabled: isDisabled }"
    *ngIf="hintText"
    >{{ hintText }}</span
  >
  <error-control [errors]="control?.errors"></error-control>
</div>
