<div [ngClass]="{ 'pe-none': isDisabled }">
  <label class="label in-column" [ngClass]="{ disabled: isDisabled }">
    {{ labelText }}
    <div
      class="input-container in-row mt-2"
      [ngClass]="{
        'error-bg':
          (formControl?.touched || formControl?.dirty) && formControl?.errors
      }"
    >
      <img
        *ngIf="inputType === 'email' || inputType === 'phone'"
        [src]="imageSource"
        class="me-2"
        [ngClass]="{
          'opacity-50': isDisabled,
          'email-icon': inputType === 'email',
          'phone-icon': inputType === 'phone'
        }"
      />
      <input
        #inputReference
        class="input"
        [ngClass]="{ disabled: isDisabled }"
        [placeholder]="placeholderText"
        (input)="onValueChange()"
        (focusout)="onFocusOut()"
      />
    </div>
  </label>
  <error-control
    *ngIf="formControl?.touched || formControl?.dirty"
    [errors]="formControl?.errors"
  ></error-control>
</div>
