@import "../../../shared/styles/base.scss";

.label {
  @include set-text-style($_label-size, 500, $_black);
}

.required {
  &::after {
    content: "*";
    color: $_red;
    font-size: $_label-size;
  }
}
