@import "../../../shared/styles/base.scss";

.error-message {
  @include set-text-style($_add-text-size, 500, $_red);
}

.error-icon {
  width: 13px;
  height: 13px;
  filter: invert(12%) sepia(81%) saturate(7151%) hue-rotate(4deg)
    brightness(86%) contrast(115%);
}
